/*------------------------------*\
    Grid System
\*------------------------------*/

.leftbox{
  float: left;
  margin-right: 15px;
}

.linha,
.coluna {
    box-sizing: border-box;
    word-wrap: break-word;
}


@media only screen and (max-width: 550px) {
    .coluna2
    {
        width: 96.8% !important;
    }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
    .coluna2
    {
        width: 47% !important;
    }
}


/*------------------------------*\
    Styling
\*------------------------------*/
input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked + label {
    outline: 2px solid #21b4d0;
}


.todo {
  margin: 1.2%;
}

.finger{
position:absolute;
bottom: 170px;
left: 330px;
height: 60px;
width: 60px;
}
.login {
  height: 30px;
  width: 30px;
}


body {

    font-family: "Times New Roman", Georgia, Serif;
    text-align: justify;
}

.centro {
  text-align: center;
  background: #00A3E8 !important;
  color: #fff !important;
  font-family: Century,Arial,Helvetica,sans-serif;
  font-size: 1.2em;
}

.btn {
  border-radius: 28px;
  border: none;
  color: #ffffff;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;
  margin: 2%;
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.coluna2, .coluna {
    background: #eee;
    border-radius: 4px;
    color: #777;
    padding: 5px;
    min-height: 30px;
    margin-bottom: 8px;
}

.colunaInteira {
    width: 96.8%;
}

 .coluna2 {
    float: left;
    width: 31.2666666667%;
    margin-left: 1.6%;
    position: relative;
}

.coluna .coluna2 {
  color: #eee;
  background: #333;
  border-color: #000;
}

.linha:before,
.linha:after {
  content: " ";
  display: table;
}

.linha:after {
  clear: both;
}
