/*------------------------------*\
    Grid System
\*------------------------------*/


.leftbox{
  float: left;
  margin-right: 15px;
}

.linha,
.coluna {
    box-sizing: border-box;
    word-wrap: break-word;
}

.coluna  {
    margin-left: 1.6%;
}


@media only screen and (max-width: 550px) {
    .linha
    {
        float: none !important;
        width: auto !important;
    }

    .coluna + .coluna {
        margin-left: 0;
    }


}
@media only screen and (min-width: 550px) {
  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55%;
  }
}

/*------------------------------*\
    Styling
\*------------------------------*/
input[type=checkbox]{
  display: none;
}

input[type=checkbox]:checked + label {
    outline: 2px solid #21b4d0;
}


article {
  margin-left: 1.6%;
}

body {

    font-family: "Times New Roman", Georgia, Serif;
    text-align: justify;
}

.centro {
  text-align: center;
  background: #00A3E8 !important;
  color: #fff !important;
  font-family: Century,Arial,Helvetica,sans-serif;
  font-size: 1.2em;
}

.btn {
  border-radius: 28px;
  border: none;
  color: #ffffff;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.coluna {
    background: #eee;
    border-radius: 4px;
    color: #777;
    padding: 5px;
    min-height: 30px;
    margin-bottom: 8px;
}

.linha {
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
  float: left;
  width: 32.2666666667%;
}


.coluna .coluna {
    color: #eee;
    background: #333;
    border-color: #000;
}
